.footer{
    background-color: black;
    color: white;
    padding: 40px 20px;
     font-family: Arial, sans-serif;
}

.footer a{
   color: #bdc3c7;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #3498db; 
}
 
.footer h4{
   color: #00bcd4;
   font-size: 1rem;
   margin-bottom: 15px;
   border-bottom: 2px solid #00bcd4;
   padding: 5px;
}


 .footer-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 8rem;
 }

 .logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }
  .img{
    width: 120px;
    height: 120px;
 }
 .text p{
 font-style: italic;
    font-size: 0.9em;
 }
 

 /* Quick link*/
 .quick-link ul{
   list-style: none;
   padding: 0;

 }
 .quick-link ul li{
   margin-bottom: 8px;
 }

 .quick-link ul li a{
   color: #ccc;
   text-decoration: none;
   transition: color 0.3sec;
 }

.quick-links ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

/*Contact*/

.social-icons {
    display: flex;
    gap: 10px;
}

.social-link{
   color: #fff;
   width: 25px;
   height: 25px;
   border-radius: 50%;
   display: flex;
   font-size: 1.5rem;
   justify-content: center;
   border: 1px solid #fff;
 align-items: center;

}

.social-link:hover {
    background-color: #00bcd4; 
    color: #333;
    border-color: #00bcd4;
}

/* Suscribe and Feedback*/

.subscribe-form {
    display: flex;
    margin-bottom: 15px;
}

.subscribe-form input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 70%;
}

.subscribe-btn {
    padding: 10px 15px;
    border: none;
    background-color: #00bcd4;
    color: #333;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: background-color 0.3s;
}

.subscribe-btn:hover {
    background-color: #00a0b6;
}

.feedback-btn {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s, color 0.3s;
}

.feedback-btn i {
    margin-right: 5px;
}

.feedback-btn:hover {
    background-color: #fff;
    color: #333;
}

.footer-separator {
    border: 0;
    border-top: 1px solid #555;
    margin: 20px auto;
    
}

.footer-bottom {
    text-align: center;
    font-size: 0.9em;
    padding-top: 10px;
}

@media (max-width: 900px) {
    .footer-grid {
       
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 600px) {
    .footer-grid {
       
        grid-template-columns: 1fr; 
    }
    .footer-grid > div {
        margin-bottom: 20px;
    }
}